.listable-podcast {
  padding: 1em;

  img {
    min-width: 250px;
  }
  figcaption {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;

    span {
      padding-top: 0.5em;
      font-family: radley-italic;
      font-size: 0.75em;
    }
  }
}