.playbackcenter {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  width:100%;
  padding: 0;
  background-color: #F6C821;
  opacity: 0.9;
  z-index: 1000;

  &.modal {
    height: 81vh;
  }

  &.bar {
    height: 70px;
  }

  &.bottom {
    position: sticky;
    left: 0;
    bottom: -1px;
  }
  &.top {
    position: fixed;
    left: 0;
    top: 111px;
  }

  .podcast-thumb {
    height: 35px;
  }

  .podcast-img {
    height: 175px;
  }  

  .expand {
    background-image: url(../Icons/expand.svg);
    height: 20px;
  }

  .fold {
    background-image: url(../Icons/fold.svg);
    height: 30px;
  }
  
  .play{
    background-image: url(../Icons/play-arrow.svg);
  
  }
  .pause {
    background-image: url(../Icons/pause.svg);
  }
  .forward {
    height: 50px;
    width: 50px;
    background-image: url(../Icons/rotation_right.svg);
    background-size: 50px;
    margin: 0;
  }

  .backward {
    height: 50px;
    width: 50px;
    background-image: url(../Icons/rotation_left.svg);
    background-size: 50px;
    margin: 0;
  }
  figure > .podcast-img {
    margin-top: 0.25em;
  }
  button {
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    background-size: 35px;
    margin: 0 0.25em;
  }
}

@media only screen and (min-height: 320px) and (orientation: landscape){
  .playbackcenter {
  
    &.modal {
      height: 66vh;
    }

    .podcast-img {
      height: 50px;
    }  
  }
  
}
@media only screen and (min-height: 360px) and (orientation: landscape){
  .playbackcenter {
  
    &.modal {
      height: 70vh;
    }

  }
  
}
@media only screen and (min-height: 368px) and (orientation: landscape) {
  .playbackcenter {
  
    &.modal {
      height: 71vh;
    }

    &.top {
      top: 171px;
    }
  }
}
@media only screen and (min-height: 375px) and (orientation: landscape) {
  .playbackcenter {
  
    &.modal {
      height: 55vh;
    }
  }
}
@media only screen and (min-height: 411px) and (orientation: landscape) {
  .playbackcenter {
  
    &.modal {
      height: 59vh;
    }
    .podcast-img {
      height: 75px;
    }  
  }
}
@media only screen and (min-height: 640px) {

  .playbackcenter {
  
    &.modal {
      height: 84vh;
    }

    figure > .podcast-img {
      margin-top: 1em;
    }
  }
}
@media only screen and (min-height: 731px) {

    .playbackcenter {
    
      &.modal {
        height: 86vh;
      }

      .podcast-img {
        height: 225px;
      }  

      figure > .podcast-img {
        margin-top: 2em;
      }
  }
}

@media only screen and (min-height: 812px) {

  .playbackcenter {
  
    &.modal {
      height: 87vh;
    }
  }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {

  .playbackcenter {

    &.modal {
      height: 84vh;
    }

    &.top {
      top: 171px;
    }
  }
}
@media only screen and (min-width: 1024px)  {

  .playbackcenter {

    &.modal {
      height: 70vh;
    }

    &.top {
      top: 231px;
    }

    
  }
}

@media only screen and (min-width: 1024px) and (orientation: portrait) {

  .playbackcenter {

    &.modal {
      height: 70vh;
    }

    &.top {
      top: 231px;
    }

  }
}

@media only screen and (min-width: 1336px) and (orientation: landscape) and (min-height: 1024px) {

  .playbackcenter {

    &.modal {
      height: 78vh;
    }

    &.top {
      top: 231px;
    }
    .podcast-img {
      height: 275px;
    }  
  }
}

@media only screen and (min-width: 1024px) and (min-height: 1336px) {

  .playbackcenter {

    &.modal {
      height: 84vh;
    }

    &.top {
      top: 231px;
    }

    .podcast-img {
      height: 275px;
    }  
  }
}

@media only screen and (min-width: 1400px) {

  .playbackcenter {

    &.modal {
      height: 75vh;
    }
    .podcast-img {
      height: 300px;
    }  
  }
}

@media only screen and (min-width: 1850px) and (orientation: landscape){

  .playbackcenter {

    &.top {
      top: 271px;
    }

    &.modal {
      height: 71vh;
    }

    .podcast-img {
      height: 375px;
    }  
  }
  
}