.progress-bar {
  width: 90%;

  .info {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: -0.5em;

    p:last-child {
      margin-right: -1.25em;
    }
  }

  .bar {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top:0.6em;

    .start {

      position: relative;
      left: 0;
      height: 20px;
      width: 5px;
      background-color: grey;
      margin-left:5px;
      background-color: #FEF6F6;
    }

    .end {
      position: relative;
      right: 0;
      height: 20px;
      width: 5px;
      background-color: grey;
      margin-right:5px;
    }

    .line {
      height: 5px;
      width: 100%;
      background-color: grey;

      .progress {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #FEF6F6;
        height: 5px;
        width:25%;
      }

      .marker {
        padding: 6px;
        background-color: #FEF6F6;
        border-radius: 100%;
        position: relative;
        left: 100%;
        margin-left: -6px;
        z-index: 9999;
      }
    }
  }
}