.remove-follower-button {
  background-size: contain;
  height: 30px;
  width: 30px;
  align-self: flex-end;
  background-repeat: no-repeat;
  background-image: url(../Icons/remove-black.svg);
  margin-bottom: -1em;
  z-index: 2;
}
