.category {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;

  .list{
    text-align: start;
  }
  .subscriptions {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2em;

    .add-button{
      background-color:rgba(120, 214, 159, 0.68);
      padding: 0.25em;
      border-radius: 4px;
      font-size: 1.2em;
      float: right;
      margin: 0.25em 0 0 0.25em;
      color:#2E2929;  
    }
  }
  
  h3 {
    font-size: 1.5em;
  }
}