.folder {
  background-color: rgba(159, 205, 244, 0.29);
  width: 295px;
  max-width: 295px;
  min-width: 295px;
  min-height: 295px;
  margin: 1em 0;
  text-align: center;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .remove {
    margin: 0.5em;
    margin-bottom: 0;
    align-self: flex-end;
    height: 25px;
    width: 25px;
    background: url(../Icons/remove-black.svg) no-repeat;
    background-size: 25px;
  }

  h3 {
    display: inline;
    padding-top: 1em;
  }

  .podcasts {
    max-width: 295px;
    min-width: 295px;
  }

  form {
    padding-top: 1em;
  }

  .list {
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;

    .listable-podcast {
      padding: 0.7em;
    }

    figure {
      .podcast-logo {
        min-width: 125px;
        width: 125px;
      }

      figcaption {
        padding-top: 0.2em;

        span {
          padding-top: 0;
        }
      }
    }
  }
}
