.error {
  width: 100%;
  min-height: 100vh;

  h2,
  h3 {
    opacity: 0.3;
    text-align: center;
  }

  h2 {
    font-size: 25em;
    line-height: 0.5;
  }

  h3 {
    padding-top: 1em;
    font-size: 8em;
  }
}
