.follow-icon,
.follow-button {
  background-size: 30px;
  background-repeat: no-repeat;

  &.follow {
    background-image: url(../Icons/user-add.svg);
  }

  &.button-spinner {
    background-image: url(../Icons/loader.svg);
  }

  &.following {
    background-image: url(../Icons/follows.svg);
  }

  &.requested {
    background-image: url(../Icons/requested.svg);
  }
}

.follow-button {
  background-color: #56ccf2;
  background-position: 97% 50%;
  margin-top: 2em;
  color: #2e2929;
  font-size: 1.5em;
  border-radius: 4px;
  padding: 0.25em 0.5em;
  height: 35px;
  line-height: 0.9em;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 230px;

  &.button-spinner {
    background-position: 50%;
  }
}

.follow-icon {
  height: 30px;
  width: 30px;
  align-self: flex-end;
}

@media only screen and (max-width: 500px) {
  .follow-button {
    background-size: 25px;
    font-size: 1.3em;
    width: 175px;
  }
}

@media only screen and (max-width: 350px) {
  .follow-button {
    background-size: 20px;
    font-size: 1.2em;
    width: 150px;
  }
}
