.play-button {
  background-image: url(../Icons/play-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}

.pause-button {
  background-image: url(../Icons/pause.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}
