.user-settings {
  text-align: start;

  padding: 1em;
  h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 2em;
  }
  form{
   margin: 1em 0;
   width: 100%;
   label{
     width: 100%;
     font-size: 1.2em;
     margin-top: 1em;
   }
   input{
     margin-top: 0.5em;
   }
    button {
      background-color: rgba(86,204,242, 0.68);
  
    }
  }
  button {
    border-radius: 4px;
    font-size: 1.2em;
    margin: 1em 0 0.5em 0;
    padding: 0.5em;
    background-color: #FA7070;
    width:100%;
  }

  
}