.playbackinterface {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
  background-color: #f6c821;
  opacity: 0.9;

  &.bar {
    height: 70px;
  }

  &.bottom-1 {
    position: sticky;
    left: 0;
    bottom: -1px;
  }

  &.bottom-2 {
    position: sticky;
    left: 0;
    bottom: 68px;
  }

  .podcast-thumb {
    height: 35px;
  }

  .podcast-img {
    height: 125px;
  }

  .expand {
    background-image: url(../Icons/expand.svg);
    height: 20px;
  }

  .fold {
    background-image: url(../Icons/fold.svg);
    height: 30px;
  }

  .play {
    background-image: url(../Icons/play-arrow.svg);
  }

  .pause {
    background-image: url(../Icons/pause.svg);
  }

  .forward {
    height: 50px;
    width: 50px;
    background-image: url(../Icons/rotation_right.svg);
    background-size: 50px;
    margin: 0;
  }

  .backward {
    height: 50px;
    width: 50px;
    background-image: url(../Icons/rotation_left.svg);
    background-size: 50px;
    margin: 0;
  }

  figure > .podcast-img {
    margin-top: 0.15em;
  }

  figure {
    figcaption {
      font-size: 1em;
    }
  }

  button {
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    background-size: 35px;
    margin: 0 0.25em;
  }
}

@media only screen and (min-height: 320px) and (orientation: landscape) {
  .playbackinterface {
    &.bar {
      height: 40px;
    }

    &.bottom-2 {
      position: sticky;
      left: 0;
      bottom: 38.5px;
    }

    .podcast-thumb {
      height: 20px;
    }

    .podcast-img {
      height: 0;
      display: none;
    }

    .forward {
      height: 30px;
      width: 30px;
      background-size: 30px;
    }

    .backward {
      height: 30px;
      width: 30px;
      background-size: 30px;
    }

    .toggle {
      margin-bottom: -40px;
    }

    figure > .podcast-img {
      margin-top: 0.15em;
    }

    p {
      font-size: 0.75em;
    }

    button {
      height: 20px;
      width: 20px;
      background-size: 20px;
      margin: 0 0.25em;
    }
  }
}

@media only screen and (min-height: 360px) and (orientation: landscape) {
  .playbackinterface {
    .podcast-img {
      height: 50px;
      display: initial;
    }

    .toggle {
      margin-bottom: -10px;
    }
  }
}

@media only screen and (min-height: 640px) {
  .playbackinterface {
    .podcast-img {
      height: 175px;
      display: initial;
    }

    figure > .podcast-img {
      margin-top: 1em;
    }
  }
}

@media only screen and (min-height: 731px) {
  .playbackinterface {
    .podcast-img {
      height: 225px;
    }

    figure > .podcast-img {
      margin-top: 2em;
    }

    &.modal {
      .forward {
        height: 50px;
        width: 50px;
        background-size: 50px;
      }

      button {
        height: 40px;
        width: 40px;
        background-size: 40px;
      }

      .backward {
        height: 50px;
        width: 50px;
        background-size: 50px;
      }

      .toggle {
        margin-bottom: -10px;
      }
    }

    p {
      font-size: 1em;
    }
  }
}

@media only screen and (min-width: 1336px) and (orientation: landscape) and (min-height: 1024px) {
  .playbackinterface {
    .podcast-img {
      height: 275px;
    }
  }
}

@media only screen and (min-width: 1024px) and (min-height: 1336px) {
  .playbackinterface {
    .podcast-img {
      height: 275px;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .playbackinterface {
    .podcast-img {
      height: 275px;
    }
  }
}

@media only screen and (min-width: 1850px) and (orientation: landscape) {
  .playbackinterface {
    .podcast-img {
      height: 375px;
    }
  }
}
