.progress-bar {
  width: 90%;

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: -0.5em;

    p:last-child {
      margin-right: -1.25em;
    }
  }

  .bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0.6em;

    .start {
      position: relative;
      left: 0;
      height: 40px;
      width: 10px;
      margin-left: 5px;
      background-color: #fef6f6;
    }

    .end {
      position: relative;
      right: 0;
      height: 40px;
      width: 10px;
      background-color: grey;
      margin-right: 5px;
    }

    .line {
      height: 10px;
      width: 100%;
      background-color: grey;

      .progress {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #fef6f6;
        height: 12px;
        width: 25%;
      }

      .marker {
        padding: 12px;
        background-color: #fef6f6;
        border-radius: 100%;
        position: relative;
        left: 100%;
        margin-left: -12px;
        z-index: 9999;
      }
    }
  }
}

@media only screen and (min-height: 320px) and (orientation: landscape) {
  .progress-bar {
    .info {
      font-size: 0.75em;
    }

    .bar {
      margin-top: 0.1em;
    }
  }
}

@media only screen and (min-height: 731px) {
  .progress-bar {
    .info {
      font-size: 1em;
    }

    .bar {
      margin-top: 0.5em;
    }
  }
}
