.modal {
  height: 81vh;
  z-index: 9998;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  position: fixed;
  left: 0;
  top: 121.5px;
}

.background-black {
  background-color: #2E2929;
}

@media only screen and (min-width: 768px) and (orientation: portrait) {

  .top {
    top: 170.45px;
  }
}
@media only screen and (min-width: 1024px)  {

  .top {
    top: 205.45px;
  }
}

@media only screen and (min-width: 1024px) and (orientation: portrait) {

  .top {
    top: 217px;
  }

}
@media only screen and (min-width: 1336px) and (orientation: landscape) and (min-height: 1024px) {

  .top {
    top: 205.45px;
  } 
}

@media only screen and (min-width: 1024px) and (min-height: 1336px) {

  .top {
    top: 205.45px;
  }
}

@media only screen and (min-width: 1400px) {

  .top {
    top: 205.45px;
  }
}

@media only screen and (min-width: 1850px) and (orientation: landscape){


  .top {
    top: 245px;
  }

}
