.search-controlles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .filter-sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.25em 0.75em 0.5em 0.75em;
    border-bottom: 1px solid #fef6f6;

    button {
      font-size: 22px;
    }

    button::after {
      margin-left: 5px;
    }

    .closed::after {
      content: url(../Icons/drop-down-white.svg);
      margin-left: 5px;
    }

    .open::after {
      content: url(../Icons/drop-down-open-white.svg);
    }

    .sortby {
      color: #fef6f6;
      background-color: #2e2929;
      width: fit-content;
      background-image: url(../Icons/drop-down-white.svg);
      background-repeat: no-repeat;
      background-size: 12px;
      background-position-y: 62%;
      background-position-x: 80%;
      margin-top: 0;

      &.sortby-date {
        width: 4.3em;
      }
    }
  }

  .filters {
    padding: 0 1em;
    width: 50%;

    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1em 0;

      .multi-select,
      input,
      select {
        margin-left: 1em;
        width: 87%;
      }
    }

    .episode-filters {
      display: flex;
      flex-direction: column;

      .min-max-filters {
        flex-direction: row;

        label {
          display: inline-flex;

          input {
            width: 65px;
            padding: 0.25em 0.5em;
          }
        }

        label:first-child {
          margin-right: 1em;
        }
      }
    }
  }

  .type {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.25em 0;
    border-bottom: 1px solid #fef6f6;

    button {
      font-size: 18px;
    }
  }

  .active {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 823px) {
  .search-controlles {
    .filters {
      width: 80%;

      label {
        .multi-select,
        input,
        select {
          width: 82%;
        }
      }
    }
  }
}

@media only screen and (max-width: 667px) {
  .search-controlles {
    .filters {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 414px) {
  .search-controlles {
    .filters {
      label {
        .multi-select,
        input,
        select {
          width: 75%;
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .search-controlles {
    .filters {
      label {
        .multi-select,
        input,
        select {
          width: 69%;
        }
      }
    }
  }
}
