body {
    background-color: #2E2929;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input, 
select, optgroup, textarea {
    color:#FEF6F6;
    font-family: radley, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.App {

    .content {
        padding-top: 120px;
    }
}

@media only screen and (min-width: 667px) {

    .App {

        .content {
            padding-top: 180px;
        }
    }
  }
  
  @media only screen and (min-width: 1024px) {
  
    .App {

        .content {
            padding-top: 250px;
        }
    }
  }
  
  @media only screen and (min-width: 1850px) {
  
    .App {

        .content {
            padding-top: 300px;
        }
    }
  }