@font-face {
    font-family: 'radley';
    src: url('../Fonts/radley-regular.eot'), 
         url('../Fonts/radley-regular.woff2') format('woff2'), 
         url('../Fonts/radley-regular.woff') format('woff'), 
         url('../Fonts/radley-regular.ttf')  format('truetype'),
  }

  @font-face {
    font-family: 'radley-italic';
    src: url('../Fonts/radley-italic.eot'), 
         url('../Fonts/radley-italic.woff2') format('woff2'), 
         url('../Fonts/radley-italic.woff') format('woff'), 
         url('../Fonts/radley-italic.ttf')  format('truetype'),
  }