.notification {
  display: flex;
  flex-direction: column;
  min-height: 90px;
  width: 295px;
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.25em;
  margin-bottom: 1em;

  &.observed {
    background-color: rgba(159, 205, 244, 0.29);
  }

  &.unobserved {
    background-color: rgba(159, 205, 244, 0.75);
  }

  .remove-button {
    width: 20px;
    height: 20px;
    margin-left: auto;
    background-size: 20px;
    background-image: url(../Icons/remove-white.svg);
    background-repeat: no-repeat;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    margin-bottom: -1em;
    z-index: 2;
  }

  figure {
    width: 50px;

    img {
      width: 100%;
      border-radius: 4px;
    }

    margin-right: 1em;
  }

  p {
    flex: 1;
    margin-left: 0.5em;
    line-height: 1.2em;
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 1em 0.5em 0.5em;
  }
}

.notification:last-child {
  margin-bottom: 0.25em;
}

@media only screen and (min-width: 600px) {
  .notification {
    min-height: 120px;
    width: 495px;
    padding: 0.5em;
    margin-bottom: 1.5em;

    .remove-button {
      width: 30px;
      height: 30px;
      margin-left: auto;
      background-size: 30px;
      margin-bottom: -1.75em;
    }

    figure {
      width: 75px;
      margin-right: 1em;
    }

    p {
      margin-left: 0.55em;
    }

    div {
      padding: 0.75em 1.25em 0.75em 0.75em;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .notification {
    min-height: 150px;
    width: 695px;
    padding: 0.5em;
    margin-bottom: 1.5em;

    .remove-button {
      width: 50px;
      height: 50px;
      margin-left: auto;
      background-size: 50px;
      margin-bottom: -3em;
    }

    figure {
      width: 125px;
      margin-right: 1em;
    }

    p {
      margin-left: 0.55em;
    }

    div {
      padding: 0.75em 1.25em 0.75em 0.75em;
    }
  }
}
